@model User

@{
    ViewData["Title"] = "Dashboard | Pemilik";
    var daftarPesananMasuk = Model.DaftarMobil.SelectMany(m => m.DaftarPesanan).Where(p => p.Status == StatusPesanan.BelumDiterima).ToList();
    var daftarPesananBerjalan = Model.DaftarMobil.SelectMany(m => m.DaftarPesanan)
        .Where(p => (p.Status == StatusPesanan.BelumBayar || (p.Status == StatusPesanan.SudahBayar && p.TanggalAkhirSewa >= DateTime.Now)))
        .ToList();

    var riwayatPesanan = Model.DaftarMobil.SelectMany(m => m.DaftarPesanan)
        .Where(p => (p.Status == StatusPesanan.Batal || (p.Status == StatusPesanan.SudahBayar && p.TanggalAkhirSewa < DateTime.Now)))
        .ToList();
}

<section class="section__container judul__detail__mobil__container">
    <div class="breadcrumbs">
        <a href="detail_mobil.html">Beranda</a>
        <i class="ri-arrow-right-s-line separator"></i>
        <span class="current">Dashboard Pemilik Mobil</span>
    </div>

    <div class="judul_halaman">
        <h2>Dashboard Pemilik Mobil</h2>
    </div>
</section>

<section class="section__container statistik__container">
    <div class="judul_statistik">
        <h3>Tambah Mobil</h3>
    </div>
    <div class="isi_statistik">
        <a asp-area="" asp-controller="Mobil" asp-action="Tambah">
            <div class="tambah_container">
                <i class="ri-add-line"></i>
            </div>
        </a>
    </div>
</section>

<section class="section__container daftar_mobil_container">
    <div class="judul_daftar_mobil">
        <h3>Daftar Mobil yang disewakan</h3>
    </div>
    <div class="pemilik_mobil_content">
        @foreach (var mobil in Model.DaftarMobil)
        {
            <!-- Card Mobil -->
            <div class="deals__card">
                <img src="@mobil.UrlGambar.ToString()" alt="deals" />
                <h4>@mobil.Nama</h4>
                <div class="deals__card__grid">
                    <div>
                        <span><i class="ri-group-line"></i></span> @mobil.MaksPenumpang Orang
                    </div>
                    <div>
                        <span><i class="ri-speed-up-line"></i></span> @mobil.CC CC
                    </div>
                    <div>
                        <span><i class="ri-calendar-2-line"></i></span> @mobil.Tahun
                    </div>
                    <div>
                        <span><i class="ri-gas-station-line"></i></span> @mobil.JenisBensin.Humanize()
                    </div>
                    <div>
                        <span><i class="ri-gas-station-line"></i> @mobil.Status.Humanize()</span>
                    </div>
                    <div>
                        <span><i class="ri-gas-station-line"></i></span> @(mobil.Sopir ? "Ada Sopir" : "Tidak Ada Sopir")
                    </div>
                    <div>
                        <span><i class="ri-gas-station-line"></i></span> @(mobil.LuarKota ? "Luar Kota" : "Dalam Kota")
                    </div>
                </div>
                <hr />
                <div class="deals__card__footer">
                    <h3>@mobil.Tarif.ToString("C2", Localization.CultureInfo)<span>/ 1 Hari</span></h3>
                    <a asp-area="" asp-controller="Mobil" asp-action="Detail" asp-route-id="@mobil.Id">
                        Lihat Detail
                        <span><i class="ri-arrow-right-line"></i></span>
                    </a>
                </div>
            </div>
            <!-- Akhir Card Mobil -->
        }
    </div>
</section>


<section class="section__container pesanan__masuk__container">
    <div class="judul_pesanan_masuk">
        <h3>Pesanan Masuk</h3>
    </div>
    <div class="">
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Waktu Pesanan</th>
                    <th>Nama Pemesan</th>
                    <th>Tipe Mobil</th>
                    <th>Detail Pemesanan</th>
                    <th>Konfirmasi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pesanan in daftarPesananMasuk)
                {
                    <tr>
                        <td>@pesanan.TanggalPesan.ToString("dd MMMM yyyy, hh:mm", Localization.CultureInfo)</td>
                        <td>@pesanan.Penyewa.Nama</td>
                        <td>@pesanan.Mobil.Nama</td>
                        <td>
                            <a asp-area="" asp-controller="Pemilik" asp-action="DetailPemesanan" asp-route-id="@pesanan.Id" class="btn-detail">
                                Detail
                            </a>
                        </td>
                        <td>
                            <a asp-action="@nameof(PemilikController.TerimaPesanan)" asp-route-id="@pesanan.Id" class="btn-success m-3">
                                <i class="ri-check-line btn-action approve"></i>
                            </a>
                            <a asp-action="@nameof(PemilikController.TolakPesanan)" asp-route-id="@pesanan.Id" class="btn-danger">
                                <i class="ri-close-line btn-action reject"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


<section class="section__container berjalan__container">
    <div class="judul_riwayat">
        <h3>Sedang Berjalan</h3>
    </div>
    <div class="">
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Waktu Pesanan</th>
                    <th>Nama Pemesan</th>
                    <th>Tipe Mobil</th>
                    <th>Status</th>
                    <th>Detail Pemesanan</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pesanan in daftarPesananBerjalan)
                {
                    <tr>
                        <td>@pesanan.TanggalPesan.ToString("dd MMMM yyyy, HH:mm", Localization.CultureInfo)</td>
                        <td>@pesanan.Penyewa.Nama</td>
                        <td>@pesanan.Mobil.Nama</td>
                        <td>@pesanan.Status.Humanize()</td>
                        <td>
                            <a asp-area="" asp-controller="Pemilik" asp-action="DetailPemesanan" asp-route-id="@pesanan.Id" class="btn-detail">
                                Detail
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<section class="section__container riwayat__container">
    <div class="judul_riwayat">
        <h3>Riwayat Pesanan Mobil</h3>
    </div>
    <div class="">
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Waktu Pesanan</th>
                    <th>Nama Pemesan</th>
                    <th>Tipe Mobil</th>
                    <th>Status</th>
                    <th>Detail Pemesanan</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pesanan in riwayatPesanan)
                {
                    <tr>
                        <td>@pesanan.TanggalPesan.ToString("dd MMMM yyyy, HH:mm", Localization.CultureInfo)</td>
                        <td>@pesanan.Penyewa.Nama</td>
                        <td>@pesanan.Mobil.Nama</td>
                        <td>@pesanan.Status.Humanize()</td>
                        <td>
                            <a asp-area="" asp-controller="Pemilik" asp-action="DetailPemesanan" asp-route-id="@pesanan.Id" class="btn-detail">
                                Detail
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>