@model TambahVM

<section class="section__container judul__detail__mobil__container">
    <div class="breadcrumbs">
        <a href="dashboard_pemilik.html">Dashboard Pemilik</a>
        <i class="ri-arrow-right-s-line separator"></i>
        <span class="current">Tambah Mobil</span>
    </div>

    <div class="judul_halaman">
        <h2>Tambah Mobil</h2>
    </div>
</section>

<form asp-action="@nameof(MobilController.Tambah)" method="post" enctype="multipart/form-data">
    <section class="section__container tambah_mobil_container">
        <div class="sisi_kiri_tambah_mobil col-md-6">
            <!-- Informasi Penyewa -->
            <div class="informasi_tambah_mobil">
                <div class="judul_informasi_tambah_mobil">
                    <h3>Informasi Mobil</h3>
                </div>
                <div class="input_grup">
                    <input asp-for="@Model.Nama" />
                    <label asp-for="@Model.Nama"></label>
                </div>
                <span asp-validation-for="@Model.Nama"></span>
                <div class="input_grup">
                    <input asp-for="@Model.Jenis" />
                    <label asp-for="@Model.Jenis"></label>
                </div>
                <span asp-validation-for="@Model.Jenis"></span>

                <label asp-for="@Model.FotoMobil"></label>
                <div class="input_grup">
                    <input type="file" asp-for="@Model.FotoMobil" />
                </div>
                <span asp-validation-for="@Model.FotoMobil"></span>

                <div class="input_grup">
                    <input type="number" asp-for="@Model.MaksPenumpang" />
                    <label asp-for="@Model.MaksPenumpang"></label>
                </div>
                <span asp-validation-for="@Model.MaksPenumpang"></span>

                <div class="input_grup">
                    <input asp-for="@Model.NomorPlat" />
                    <label asp-for="@Model.NomorPlat"></label>
                </div>
                <span asp-validation-for="@Model.NomorPlat"></span>

                <div class="input_grup">
                    <input type="number" asp-for="@Model.Tahun" />
                    <label asp-for="@Model.Tahun"></label>
                </div>
                <span asp-validation-for="@Model.Tahun"></span>

                <div class="input_grup">
                    <input type="number" asp-for="@Model.CC" />
                    <label asp-for="@Model.CC"></label>
                </div>
                <span asp-validation-for="@Model.CC"></span>

                <label asp-for="@Model.JenisTransmisi"></label>
                <div class="input_grup">
                    <select class="form-control" asp-for="@Model.JenisTransmisi">
                        @foreach (var jenisTransmisi in Enum.GetValues<JenisTransmisi>())
                        {
                            <option value="@jenisTransmisi">@jenisTransmisi.Humanize()</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="@Model.JenisTransmisi"></span>

                <label asp-for="@Model.JenisBensin"></label>
                <div class="input_grup">
                    <select class="form-control" asp-for="@Model.JenisBensin">
                        @foreach (var jenisBensin in Enum.GetValues<JenisBensin>())
                        {
                            <option value="@jenisBensin">@jenisBensin.Humanize()</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="@Model.JenisBensin"></span>

                <label asp-for="@Model.Dekripsi"></label>
                <div class="input_grup">
                    <textarea asp-for="@Model.Dekripsi"></textarea>
                </div>
                <span asp-validation-for="@Model.CC"></span>
            </div>
        </div>
        <div class="sisi_kanan_tambah_mobil col-md-6">
            <!-- Informasi Penyewa -->
            <div class="informasi_tambah_mobil">
                <div class="judul_informasi_tambah_mobil">
                    <h3>Informasi Pemesanan</h3>
                </div>

                <label>Area Pemakaian</label>
                <div class="radio_grup mb-4 mt-1">
                    <input type="radio" asp-for="@Model.LuarKota" value="@false" checked>
                    <label class="ps-2 pe-3" asp-for="@Model.LuarKota">Dalam Kota</label><br>

                    <input asp-for="@Model.LuarKota" type="radio" value="@true">
                    <label class="ps-2" asp-for="@Model.LuarKota">Luar Kota</label>
                </div>
                <span asp-validation-for="@Model.LuarKota"></span>

                <div class="input_grup">
                    <input asp-for="@Model.MaksHariSewa" />
                    <label asp-for="@Model.MaksHariSewa"></label>
                </div>
                <span asp-validation-for="@Model.MaksHariSewa"></span>

                <div class="input_grup">
                    <input asp-for="@Model.Tarif" />
                    <label asp-for="@Model.Tarif"></label>
                </div>
                <span asp-validation-for="@Model.Tarif"></span>

                <label>Fasilitas Sopir</label>
                <div class="radio_grup mb-2 mt-1">
                    <input type="radio" asp-for="@Model.Sopir" value="@false" checked>
                    <label class="ps-2 pe-3" asp-for="@Model.Sopir">Tanpa Sopir</label><br>

                    <input asp-for="@Model.Sopir" type="radio" value="@true">
                    <label class="ps-2" asp-for="@Model.Sopir">Dengan Sopir</label>
                </div>
                <span asp-validation-for="@Model.LuarKota"></span>
            </div>

            <div class="button_tambah_mobil">
                <button class="btn" type="submit">Tambah Mobil</button>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}