@using SIRentalMobil.Web.Authentication
@inject ISignInManager SignInManager

@model PemesananVM

@{
    ViewData["Title"] = "Pemesanan";
    var user = await SignInManager.GetUser()!;
}

<section class="section__container judul__detail__mobil__container">
    <div class="breadcrumbs">
        <a href="detail_mobil.html">Detail Mobil</a>
        <i class="ri-arrow-right-s-line separator"></i>
        <span class="current">Pemesanan</span>
    </div>

    <div class="judul_halaman">
        <h2>Pemesanan</h2>
    </div>
</section>

<form asp-action="Pemesanan">
    <section class="section__container pemesanan_container">
        <div asp-validation-summary="All"></div>

        <div class="sisi_kiri_pemesanan col-md-8">
            <!-- Informasi Penyewa -->
            <div class="informasi_penyewa_pemesanan">
                <div class="judul_informasi_penyewa_pemesanan">
                    <h3>Data Pribadi Penyewa</h3>
                </div>
                <label for="kode">Nama Lengkap*</label>
                <div class="input_grup">
                    <input type="text" name="kode" value="@user!.Nama" required readonly />
                </div>
                <label for="kode">Nomor Telepon*</label>
                <div class="input_grup">
                    <input type="text" name="kode" value="@user!.NoHP" required readonly />
                </div>
                <label for="kode">Alamat*</label>
                <div class="input_grup">
                    <input type="text" name="kode" value="@user!.Alamat" required readonly />
                </div>
            </div>
            <!-- Informasi Penyewa -->
            <div class="informasi_penyewa_pemesanan">
                <div class="judul_informasi_penyewa_pemesanan">
                    <h3>Informasi Pesanan</h3>
                </div>
                <label asp-for="@Model.Sopir">Fasilitas Sopir</label>
                <div class="radio_grup mb-3">
                    <input type="radio" asp-for="@Model.Sopir" value="@false">
                    <label class="ps-1 pe-2" asp-for="@Model.Sopir">Tidak Menggunakan Sopir</label><br>
                    <input class="ps-1" type="radio" asp-for="@Model.Sopir" value="@true">
                    <label class="ps-1" asp-for="@Model.Sopir">Menggunakan Sopir</label>
                </div>
                <label asp-for="@Model.LuarKota">Jangkauan Penggunaan</label>
                <div class="radio_grup mb-3">
                    <input type="radio" asp-for="@Model.LuarKota" value="@false">
                    <label class="ps-1 pe-2" asp-for="@Model.LuarKota">Dalam Kota</label><br>
                    <input class="ps-1" type="radio" asp-for="@Model.LuarKota" value="@true">
                    <label class="ps-1" asp-for="@Model.LuarKota">Luar Kota</label>
                </div>
                <label asp-for="@Model.TanggalMulai"></label>
                <div class="input_grup mb-3">
                    <input asp-for="@Model.TanggalMulai" id="start-date" value="@Model.TanggalMulai.ToString("yyyy-dd-MM", CultureInfo.InvariantCulture)" type="text" />
                </div>
                <label asp-for="@Model.TanggalAkhir"></label>
                <div class="input_grup mb-3">
                    <input asp-for="@Model.TanggalAkhir" id="end-date" value="@Model.TanggalAkhir.ToString("yyyy-dd-MM", CultureInfo.InvariantCulture)" type="text" />
                </div>

                <input asp-for="@Model.MobilId" readonly hidden />
                <input asp-for="@Model.JumlahHariSewa" hidden />

            </div>
            <div class="tombol_lanjutkan_pemesanan">
                <button type="submit" class="btn w-100">Pesan Mobil</button>
            </div>
            @* <!-- Informasi Penjemputan -->
            <div class="informasi_penjemputan_pemesanan">
            <div class="judul_informasi_penjemputan_pemesanan">
            <h3>Detail Penjemputan</h3>
            </div>
            <label>Tanggal Penjemputan</label>
            <div class="input_grup">
            <input type="date" name="tanggalLahir" value="2024-11-18" readonly required />
            <label for="tanggalLahir"></label>
            </div>
            <label>Jam Penjemputan</label>
            <div class="input_grup">
            <input type="text" id="jam" name="jam" value="12:00" readonly required />
            </div>
            <div class="input_grup">
            <input type="text" name="kode" value="" required />
            <label for="kode">Alamat*</label>
            </div>
            <label>Keterangan Tambahan</label>
            <div class="input_grup">
            <textarea name="alamat" rows="4" required></textarea>
            </div>
            </div>
            <!-- Informasi Pengembalian -->
            <div class="informasi_pengembalian_pemesanan">
            <div class="judul_informasi_pengembalian_pemesanan">
            <h3>Detail Pengembalian</h3>
            </div>
            <label>Tanggal Pengembalian</label>
            <div class="input_grup">
            <input type="date" name="tanggalLahir" value="2024-11-18" readonly required />
            <label for="tanggalLahir"></label>
            </div>
            <label>Jam Pengembalian</label>
            <div class="input_grup">
            <input type="text" id="jam" name="jam" value="12:00" readonly required />
            </div>
            <div class="input_grup">
            <input type="text" name="kode" value="" required />
            <label for="kode">Alamat*</label>
            </div>
            <label>Keterangan Tambahan</label>
            <div class="input_grup">
            <textarea name="alamat" rows="4" required></textarea>
            </div>
            </div> *@
        </div>
        @* <div class="sisi_kanan_pemesanan col-md-4">
        <div class="pengsticky">
        <div class="rincian_harga_detail_mobil">
        <div class="judul_rincian_harga">
        <h3>Rincian Pesanan</h3>
        </div>
        <div class="isi_rincian_harga">
        <h5>Harga untuk 1 hari:</h5>
        <div class="fasilitas_sopir mb-1">
        <h6>Tanpa Sopir:</h6>
        <p>Rp.500.000</p>
        </div>
        <div class="fasilitas_sopir">
        <h6>Dengan Sopir:</h6>
        <p>Rp.700.000</p>
        </div>
        </div>
        </div>
        </div>
        </div> *@
    </section>
</form>