@using Microsoft.EntityFrameworkCore
@using SIRentalMobil.Infrastructure.Database
@using SIRentalMobil.Web.Authentication
@inject ISignInManager SignInManager
@inject AppDbContext AppDbContext;

@model TambahPesananVM

@{
    ViewData["Title"] = "Pemesanan";
    var user = await SignInManager.GetUser()!;

    var mobil = await AppDbContext.TblMobil.FirstAsync(m => m.Id == Model.MobilId);
}

<section class="section__container judul__detail__mobil__container">
    <div class="breadcrumbs">
        <a href="detail_mobil.html">Detail Mobil</a>
        <i class="ri-arrow-right-s-line separator"></i>
        <span class="current">Pemesanan</span>
    </div>

    <div class="judul_halaman">
        <h2>Pemesanan</h2>
    </div>
</section>

<form asp-action="TambahPesanan">
    <section class="section__container pemesanan_container">
        <div asp-validation-summary="All"></div>

        <div class="sisi_kiri_pemesanan col-md-6">
            <!-- Informasi Penyewa -->
            <div class="informasi_penyewa_pemesanan">
                <div class="judul_informasi_penyewa_pemesanan">
                    <h3>Data Pribadi Penyewa</h3>
                </div>
                <label for="kode">Nama Lengkap*</label>
                <div class="input_grup">
                    <input type="text" name="kode" value="@user!.Nama" required readonly />
                </div>
                <label for="kode">Nomor Telepon*</label>
                <div class="input_grup">
                    <input type="text" name="kode" value="@user!.NoHP" required readonly />
                </div>
                <label for="kode">Alamat*</label>
                <div class="input_grup">
                    <input type="text" name="kode" value="@user!.Alamat" required readonly />
                </div>
            </div>
            
        </div>
        <div class="sisi_kanan_pemesanan col-md-6">
            <!-- Informasi Penyewa -->
            <div class="informasi_penyewa_pemesanan">
                <div class="judul_informasi_penyewa_pemesanan">
                    <h3>Informasi Pesanan</h3>
                </div>
                <label asp-for="@Model.Sopir">Fasilitas Sopir</label>
                <div class="radio_grup mb-3">
                    <input type="radio" asp-for="@Model.Sopir" value="@false">
                    <label class="ps-1 pe-2" asp-for="@Model.Sopir">Tidak Menggunakan Sopir</label><br>
                    @if (mobil.Sopir)
                    {
                        <input class="ps-1" type="radio" asp-for="@Model.Sopir" value="@true">
                        <label class="ps-1" asp-for="@Model.Sopir">Menggunakan Sopir</label>
                    }
                </div>
                <label asp-for="@Model.LuarKota">Jangkauan Penggunaan</label>
                <div class="radio_grup mb-3">
                    <input type="radio" asp-for="@Model.LuarKota" value="@false">
                    <label class="ps-1 pe-2" asp-for="@Model.LuarKota">Dalam Kota</label><br>

                    @if (mobil.LuarKota)
                    {
                        <input class="ps-1" type="radio" asp-for="@Model.LuarKota" value="@true">
                        <label class="ps-1" asp-for="@Model.LuarKota">Luar Kota</label>
                    }
                </div>
                <label asp-for="@Model.TanggalMulai"></label>
                <div class="input_grup mb-3">
                    <input asp-for="@Model.TanggalMulai" id="start-date" value="@Model.TanggalMulai.ToString("yyyy-dd-MM", CultureInfo.InvariantCulture)" type="text" />
                </div>
                <span asp-validation-for="@Model.TanggalMulai" class="form-text text-danger"></span>
                <label asp-for="@Model.TanggalAkhir"></label>
                <div class="input_grup mb-3">
                    <input asp-for="@Model.TanggalAkhir" id="end-date" value="@Model.TanggalAkhir.ToString("yyyy-dd-MM", CultureInfo.InvariantCulture)" type="text" />
                </div>
                <span asp-validation-for="@Model.TanggalAkhir" class="form-text text-danger"></span>

                <input asp-for="@Model.MobilId" readonly hidden />

            </div>
            <div class="tombol_lanjutkan_pemesanan">
                <button type="submit" class="btn w-100">Pesan Mobil</button>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}