@using SIRentalMobil.Domain.Entities
@model DaftarVM

<section class="section__container daftar_container">
    <div class="judul_halaman mb-lg-4">
        <h2>Daftar</h2>
        <p>Buat akun untuk mulai menyewa atau menawarkan mobil Anda.</p>
    </div>
    <form asp-action="@nameof(HomeController.Daftar)">

        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

        <div class="input_grup">
            <input asp-for="@Model.NIK" />
            <label asp-for="@Model.NIK">Nomor Induk Kependudukan*</label>
            <span asp-validation-for="@Model.NIK" class="form-text text-danger"></span>
        </div>
        <div class="input_grup">
            <input asp-for="@Model.Nama" />
            <label asp-for="@Model.Nama">Nama Lengkap*</label>
            <span asp-validation-for="@Model.Nama" class="form-text text-danger"></span>
        </div>
        <div class="input_grup">
            <input asp-for="@Model.NoHP" />
            <label asp-for="@Model.NoHP">Nomor Telepon*</label>
            <span asp-validation-for="@Model.NoHP" class="form-text text-danger"></span>
        </div>
        <div class="input_grup">
            <input asp-for="@Model.Alamat" class="form-control" />
            <label asp-for="@Model.Alamat">Alamat*</label>
            <span asp-validation-for="@Model.Alamat" class="form-text text-danger"></span>
        </div>
        <div class="input_grup">
            <input asp-for="@Model.Email" type="email" />
            <label asp-for="@Model.Email">Email*</label>
            <span asp-validation-for="@Model.Email" class="form-text text-danger"></span>
        </div>
        <div class="input_grup">
            <input asp-for="@Model.Password" type="password" />
            <label asp-for="@Model.Password">Password*</label>
            <span asp-validation-for="@Model.Password" class="form-text text-danger"></span>
        </div>
        <div class="input_grup">
            <input asp-for="@Model.PasswordConfirmation" type="password" />
            <label asp-for="@Model.PasswordConfirmation">Konfirmasi Password*</label>
            <span asp-validation-for="@Model.PasswordConfirmation" class="form-text text-danger"></span>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.Role" class="form-label"></label>
                <select asp-for="@Model.Role" class="form-control">
                    <option value="@UserRoles.Penyewa">@UserRoles.Penyewa</option>
                    <option value="@UserRoles.Pemilik">@UserRoles.Pemilik</option>
                </select>
                <span asp-validation-for="@Model.Role" class="form-text text-danger"></span>
            </div>
        </div>

        <div class="button_kanan">
            <button class="btn" type="submit">Daftar</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}