@model LoginVM

<section class="section__container masuk_container">
    <form asp-action="@nameof(HomeController.Login)">
        <div class="input_grup">
            <input asp-for="@Model.Email"/>
            <label asp-for="@Model.Email">Email*</label>
        </div>
        <div class="input_grup">
            <input asp-for="@Model.Password" type="password" />
            <label asp-for="@Model.Password">Password*</label>
        </div>

        <input asp-for="@Model.ReturnUrl" readonly hidden />

        <div class="button_kanan">
            <button class="btn" type="submit">Masuk</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}